<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>여기모여</title>
    <meta charset="UTF-8">
    <!-- basic -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- style css -->
    <link href="../css/style.css" rel="stylesheet" type="text/css" >
    <!-- fevicon -->
    <link href="../images/comehere_con.ico" type="image/gif" rel="icon"/>
    <!-- 공식부트스트랩 CSS -->
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
    
    <link href="../css/board/detail.css" rel="stylesheet">

    </head>
    <body>
      <!-- header section 시작 -->
      <div class="header_section windowWidth">
        <div class="container-fluid windowWidth">
          <nav class="navbar navbar-expand-lg navbar-light windowWidth">
            <div class="main_logo"><a href="/app"><img src="../images/logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="../party/list">운동찾기</a></li>
                <li class="nav-item"><a class="nav-link" href="main">커뮤니티</a></li>
                <li class="nav-item"><a class="nav-link" href="../notice/list">공지사항</a></li>
              </ul>
              <div class="login-bt-d">
                <ul>
                  <li data-th-if="${session.loginMember == null}" ><a href="../auth/form" >로그인</a></li>
                  <li class="loginId" data-th-if="${session.loginMember != null}" data-th-id=${session.loginMember.no}><a href="../mypage/my-post">마이페이지</a></li>
                  <li data-th-if="${session.loginMember != null}"><a href="../auth/logout" data-th-text="${session.loginMember.name} + '(로그아웃)'">동동(로그아웃)</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- header section 끝 -->
      
      <!-- 게시판 카테고리 이동바 시작 -->
      <div class="nav-line">
      <ul class="nav nav-pills nav-justified windowWidth">
        <li class="nav-item"><a class="nav-link" href="list?no=1">자유게시판</a></li>
        <li class="nav-item"><a class="nav-link" href="list?no=2">식단게시판</a></li>
        <li class="nav-item"><a class="nav-link" href="list?no=3">챌린지게시판</a></li>
        <li class="nav-item"><a class="nav-link" href="list?no=4">질문게시판</a></li>
        <li class="nav-item"><a class="nav-link" href="list?no=5">핫딜게시판</a></li>
      </ul>
      </div>
      <!-- 게시판 카테고리 이동바 끝 -->

      <!-- main section 시작 -->
      <div class="furnitures_sectionJD windowWidth">
        <div class="container-detail">
          <div style="height: 34px;">
            <span style="float: right;"><a data-th-href="@{list(no=${board.cateno})}" class="btn btn-primary bnt-setting">목록</a></span>
          </div>
          <!-- 게시글 내용 box 시작 -->
          <div class="board-wrapper">
            <input data-th-value="${board.no}" value=게시글번호 id="boardNo" name='no' type="hidden">
            <a data-th-if="${session.loginMember} != null and ${session.loginMember.no} != ${board.writer.no}" 
               class="btn btn-primary bnt-setting1" role="button" id="scrap-button">스크랩</a>
            <a data-th-if="${session.loginMember} != null and ${session.loginMember.no} != ${board.writer.no}" 
               class="btn btn-primary bnt-setting1 btn-modal" role="button">신고</a>
            <h3 class="board-title" data-th-text='${board.title}'>제목없음</h3>
            <div class="board-info">
              <img data-th-src="@{'/member/files/' + ${board.writer.filepath}}" class="profile_pic" alt="profile_picture" onerror="this.src='../images/default-profile-pic.png';" >
              <span data-th-text="${board.writer.nickname}"></span>
              <div style="float: right; margin-top: 28px">
                <span data-th-text="${board.createdDate}"></span>
                <img style="width: 18px; margin-left: 1px;" src="../images/view-icon2.png"><span data-th-text="${board.viewCount}">0</span>
              </div>
            </div>
            <div data-th-if="${board.cateno == 3}">
              <h5 style="margin-top: 15px; margin-left: 40px; margin-bottom: 0px; color: gray; font-size: 20px;">챌린지 인증 사진</h5>
              <div class="clg1">
                <img data-th-if="${board.thumbnail == null}" src="../images/nothumbnail.png" alt="thumbnail" class="in-img"/>
                <img data-th-if="${board.thumbnail != null}" data-th-src="@{'/board/files/' + ${board.thumbnail}}" alt="Avatar" class="in-img"/>
              </div>
            </div>
            <div data-th-utext="${board.content}" class="form-content">내용</div>
          </div>
          <!-- 게시글 내용 box 끝 -->
          <div class="ud-wrapper">
            <span>
              <a data-th-if="${session.loginMember} != null and ${session.loginMember.no} == ${board.writer.no}" 
                 data-th-href="@{updateForm(no=${board.no})}" 
                 class="btn btn-primary bnt-setting" 
                 role="button">수정</a>
              <a data-th-if="${session.loginMember} != null and ${session.loginMember.no} == ${board.writer.no}" 
                 class="btn btn-primary bnt-setting"
                 role="button"
                 id="delete-button">삭제</a>
            </span>
          </div>
          
          <!-- 댓글 session 시작 -->
          <div>
            <!-- 댓글 등록 시작 -->
            <div data-th-if="${session.loginMember}">        
              <input type="hidden" id="memberNo"  data-th-value="${session.loginMember.no}">
              <div class="comment_input_wrap">
                <div class="comment_input img_add">
                  <textarea id="commentCont" class="scrollbar" placeholder="내용을 입력하세요." onkeypress="block_enter(event)"></textarea>
                </div>
                <div class="comment_input_bot">
                  <button id="commentButton" type="button" class="btnSizeL comment_submit" >댓글 등록</button>
                </div>
              </div>
            </div>
            <div data-th-if="${session.loginMember == null}">  
              <input type="hidden" id="memberNo"  value=0>      
              <div class="comment_input_wrap" onclick="alertToLogin();">
                <div class="comment_input img_add">
                    <textarea id="commentCont" class="scrollbar" placeholder="댓글을 등록하려면 로그인 하세요." disabled=""></textarea>
                </div>
                <div class="comment_input_bot">
                  <button id="commentButton" type="button" class="btnSizeL comment_submit" onclick="alertToLogin();">댓글 등록</button>
                </div>
              </div>
            </div>
            <!-- 댓글 등록 끝 -->
            
            <!-- 댓글 목록 시작 -->
            <div class="comment-wrapper">
                <div class="commentList"></div>
            </div>
            <!-- 댓글 목록 끝 -->
            
            <!-- 댓글페이징 시작 -->
            <nav aria-label="Page navigation">
              <ul class="pagination" style="margin-top: 20px">
                <div class="page_center">
                  <!-- 이전 페이지 보류                 
                  <li class="page-item" th:if="${pageMaker.prev}">
                    <a data-th-href="@{detail(page=${pageMaker.startPage-1}, no=${board.no})}" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                   -->
                  <data-th-block data-th-if="${pageMaker.endPage != 0}" data-th-each="pageNum: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                    <li data-th-id="${'pageButton' + pageNum}"  class="page-item">
                      <a data-th-id="'pageNo' + ${pageNum}" class="page-link" onclick="getId(this.id)"><i data-th-text="${pageNum}"></i></a>
                    </li>
                  </data-th-block>
                  <!-- 다음 페이지 보류               
                  <li class="page-item" th:if="${pageMaker.next && pageMaker.endPage >0}">
                    <a th:href="@{detail(page=${pageMaker.endPage+1}, no=${board.no})}" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                   -->
                </div>
              </ul>
            </nav>
            <!-- 댓글페이징 끝 -->
          </div>
          <!-- 댓글 session 끝 -->
          
        </div>
      </div>
      <!-- main section 끝 -->
      
      <!-- Modal 시작 -->
      <form>
        <table border='1'>
          <div id="container">
            <div id="lorem-ipsum"></div>
          </div>
          <div id="modal" class="modal-overlay">
            <div class="modal-window">
              <div class="close-area">X</div>
              <div class="content">
                <div>
                  <input type="hidden" name="boardNo" data-th-value="${board.no}">
                  <div class="report_menu">신고사유</div>
                  <div class="form-check form-check-inline">
                    <input type="checkbox" value="Contents" class="form-check-input" id="1" name="reports" onclick='checkOnlyOne(this)' style="margin-top: 4px; display: block"> <input type="hidden" name="_reports" value="on" /> <label for="1" class="form-check-label">불건전한 내용</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="checkbox" value="promotion" class="form-check-input" id="2" name="reports" onclick='checkOnlyOne(this)' style="margin-top: 4px; display: block"> <input type="hidden" name="_reports" value="on" /> <label for="2" class="form-check-label">스팸 및 부적절한 홍보</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="checkbox" value="calumny" class="form-check-input" id="3" name="reports" onclick='checkOnlyOne(this)' style="margin-top: 4px; display: block"> <input type="hidden" name="_reports" value="on" /> <label for="3" class="form-check-label">명예훼손 및 비방</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="checkbox" value="prejudice" class="form-check-input" id="4" name="reports" onclick='checkOnlyOne(this)' style="margin-top: 4px; display: block"> <input type="hidden" name="_reports" value="on" /> <label for="4" class="form-check-label">초상권 및 저작권 침해</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="checkbox" value="embezzlement" class="form-check-input" id="5" name="reports" onclick='checkOnlyOne(this)' style="margin-top: 4px; display: block"> <input type="hidden" name="_reports" value="on" /> <label for="5" class="form-check-label">개인정보 도용</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="checkbox" value="act" class="form-check-input" id="6" name="reports" onclick='checkOnlyOne(this)' style="margin-top: 4px; display: block"> <input type="hidden" name="_reports" value="on" /> <label for="6" class="form-check-label">기타 사이트 목적에 맞지 않는 행위</label>
                  </div>
                  <!-- 신고 종류 설정 input hidden type-->
                  <div class="form-check form-check-inline"><input type="hidden" id="reportForm"></div>
                </div>
                <div class="send_bt3" id="singo">신고</div>
              </div>
            </div>
          </div>
        </table>
      </form>
      <!-- Modal 끝 -->
      
      <!-- Javascript files-->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/popper.min.js"></script>
      <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script src="../js/plugin.js"></script>
      <!-- sidebar -->
      <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../js/custom.js"></script>
      <!-- 공식부트스트랩 JS -->
      <script src="../js/bootstrap/bootstrap.js"></script>  
      <!-- sweetalert -->
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
      
      <script src="../js/board/detail.js"></script>
      <script src="../js/board/report-modal.js"></script>

    </body>
</html>
