<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>여기모여</title>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- fevicon -->
    <link rel="icon" href="../images/comehere_con.ico" type="image/gif" />
    <!-- 공식부트스트랩 CSS -->
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
    
    <link href="../css/board/list.css" rel="stylesheet">
  </head>
    
  <body>
    <!-- header section 시작 -->
    <div class="header_section windowWidth">
      <div class="container-fluid windowWidth">
        <nav class="navbar navbar-expand-lg navbar-light windowWidth">
          <div class="main_logo"><a href="/app"><img src="../images/logo.png"></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="../party/list">운동찾기</a></li>
              <li class="nav-item"><a class="nav-link" href="main">커뮤니티</a></li>
              <li class="nav-item"><a class="nav-link" href="../notice/list">공지사항</a></li>
            </ul>
            <div class="login-bt">
              <ul>
                <li data-th-if="${session.loginMember == null}"><a href="../auth/form" >로그인</a></li>
                <li class="loginId" data-th-if="${session.loginMember != null}" th:id=${session.loginMember.no}><a href="../mypage/my-post">마이페이지</a></li>
                <li data-th-if="${session.loginMember != null}"><a href="../auth/logout" data-th-text="${session.loginMember.name} + '(로그아웃)'">동동(로그아웃)</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- header section 끝 -->
      
    <!-- 메인 시작 -->
    <div class="board-list-wrapper">
      <!-- 게시판 카테고리 이동 시작 -->
      <div class="nav-line">
       <ul class="nav nav-pills nav-justified windowWidth">
         <li class="nav-item"><a class="nav-link" href="list?no=1">자유게시판</a></li>
         <li class="nav-item"><a class="nav-link" href="list?no=2">식단게시판</a></li>
         <li class="nav-item"><a class="nav-link" href="list?no=3">챌린지게시판</a></li>
         <li class="nav-item"><a class="nav-link" href="list?no=4">질문게시판</a></li>
         <li class="nav-item"><a class="nav-link" href="list?no=5">핫딜게시판</a></li>
       </ul>
      </div>
      <!-- 게시판 카테고리 이동 끝 -->
      <!-- 게시판 타이틀 시작 -->
      <a data-th-href="@{list(no=${catenoInBoard.cateno})}">
        <div class="category-name-wrapper">
          <div data-th-if="${catenoInBoard.cateno} == 1" class="our_textJD_free windowWidth" id="cateName"></div>
          <div data-th-if="${catenoInBoard.cateno} == 2" class="our_textJD_food windowWidth" id="cateName"></div>
          <div data-th-if="${catenoInBoard.cateno} == 4" class="our_textJD_q windowWidth" id="cateName"></div>
          <div data-th-if="${catenoInBoard.cateno} == 5" class="our_textJD_hotdeal windowWidth" id="cateName"></div>
        </div>
      </a>
      <!-- 게시판 타이틀 시작 -->
          
      <div class="furnitures_section2 layout_padding-jd windowWidth">
        <div class="container">
          <div class="row">
            <!-- 게시글 목록 시작 -->
            <div style="min-width: 960px; max-width: 960px">
              <span style="font-weight: lighter; float: left;" data-th-if="${search.keyword != null}" 
                    data-th-text="'&lsquo;' + ${search.typeName} + '&rsquo;' + '에 '   + '&lsquo;' + ${search.keyword} + '&rsquo;' +' 을(를) 포함한 검색결과 입니다.'">
              </span>
            </div>
            <table class="my-page">
              <tr>
                <th style="width: 10%;">번호</th>
                <th style="width: 61%">제목</th>
                <th style="width: 7%">작성자</th>
                <th style="width: 7%">조회수</th>
                <th style="width: 13%">등록일</th>
              </tr>
              <tr th:each="board : ${list}">
                <td th:text="${board.no}">100</td>
                <td style="text-align: left;"><a href='detail?no=1'
                    th:href="@{detail(no=${board.no})}"
                    th:text="${board.title == ''} ? '(제목없음)' : ${board.title}">제목없음</a></td>
                <td th:text="${board.writer.nickname}">유길동</td>
                <td th:text="${board.viewCount}">17</td>
                <td th:text="${board.createdDate}">2022-1-1</td>
              </tr>
            </table>
            <div class="write-box windowWidth">
              <div id="postButton" class="btn btn-primary write-button" th:value="@{form(cateno=${catenoInBoard.cateno})}" role="button" style="margin-right: 80px;">글쓰기</div>
            </div>
            <!-- 게시글 목록 끝 -->

            <!-- 페이징 버튼 시작 -->
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <div class="page_center">
                  <li class="page-item" th:if="${pageMaker.prev}">
                    <a class="page-link" th:href="@{list(page=${pageMaker.startPage-1}, no=${catenoInBoard.cateno})}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <th:block th:if="${pageMaker.endPage != 0}" th:each="pageNum: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                    <li data-th-id="${'pageButton' + pageNum}"  class="page-item">
                      <a data-th-if="${search.keyword == null}" class="page-link" th:href="@{list(page=${pageNum}, no=${catenoInBoard.cateno})}"><i th:text="${pageNum}"></i></a>
                      <a data-th-if="${search.keyword != null}" class="page-link" th:href="@{list(page=${pageNum}, no=${catenoInBoard.cateno}, keyword=${search.keyword}, type=${search.type})}"><i th:text="${pageNum}"></i></a>
                    </li>
                  </th:block>
                  <li class="page-item" th:if="${pageMaker.next && pageMaker.endPage > 0}">
                    <a data-th-if="${search.keyword == null}" class="page-link" th:href="@{list(page=${pageMaker.endPage+1}, no=${catenoInBoard.cateno})}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a data-th-if="${search.keyword != null}" class="page-link" th:href="@{list(page=${pageMaker.endPage+1}, no=${catenoInBoard.cateno}, keyword=${search.keyword}, type=${search.type})}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </div>
              </ul>
            </nav>
            <!-- 페이징 버튼 끝 -->
            <!-- 검색 기능 시작 -->
            <nav class="navbar navbar-light windowWidth">
              <div style="margin: auto">
              <form class="form-inline" action='list' method="GET">
                <input data-th-value="${catenoInBoard.cateno}" type="hidden" name="no" aria-label="category">
                <select id="searchId" class="form-selectJd" name="type">
                    <option value="T">제목</option>
                    <option value="C">내용</option>
                    <option value="W">작성자</option>
                    <option value="TC">제목 + 내용</option>
                    <option value="TW">제목 + 작성자</option>
                    <option value="TCW">제목 + 내용 + 작성자</option>
                </select>   
                <input class="form-control mr-sm-2 search-border" type="search" name="keyword" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-successJD my-2 my-sm-0" type="submit" id="searchButton">Search</button>
              </form>
              </div>
            </nav>
            <!-- 검색 기능 끝 -->
          </div>
        </div>
      </div>
    </div>
    <!-- 메인 끝 -->
    
    <!-- Javascript files-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.0.0.min.js"></script>
    <script src="../js/plugin.js"></script>
    
    <!-- sidebar -->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- <script src="../js/custom.js"></script> --><!-- 검색때매 우선 막자 --> 
    
    <!-- javascript --> 
    <!-- <script src="../js/owl.carousel.js"></script> -->
    <!-- <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  -->
    
    <!-- 공식부트스트랩 JS -->
    <script src="../js/bootstrap/bootstrap.js"></script>  
    <!-- sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
      // 뒤로가기하면 자동으로 새로고침 (조회수 반영을 위해)
      window.onpageshow = function(e) {
        if (e.persisted || (window.performance && window.performance.navigation.type === 2)) {
          window.location.reload();
        }
      }
    </script>

    <script>
    document.getElementById('postButton').addEventListener('click', checkLogin);
    
    // 로그인 회원 번호 저장
    let loginMemberNo = -1;
    if($(".loginId").attr("id") != -1) {
     loginMemberNo = $(".loginId").attr("id");
    };
    
    // 비회원일때 로그인으로 유도
    function checkLogin() {
      if (loginMemberNo == undefined || loginMemberNo == -1) {
        swal({
          text :  "회원만 이용가능합니다.\n로그인하시겠습니까?",
          icon : "warning",
          buttons : ["아니요", "예"],
        }).then(function(isConfirm) {
          if (isConfirm) {
            location.href = '../auth/form';
          } else{
            return false;
          }
        });
      } else{
        location.href = $("#postButton").attr("value"); 
      }
    }
    
    // 검색기능 목록일 때 검색조건의 type을 selected하기 위한 메서드 
    const searchOption = $("select").children();
    for (let i = 0; i < searchOption.length; i++) {
  	  if (searchOption.eq(i).val() == "[[${search.type}]]") {
  		  $('#searchId').find("option").eq(i).attr("selected", true)
  	  }
    } 
    
    window.addEventListener('DOMContentLoaded', function findCategory() {
        var param = window.location.search.match(/no=([^&]*)/)[1];
          switch(param) {
            case '1' :
              document.getElementById( 'cateName' ).innerHTML = "자유게시판";
              break;
            case '2' :
              document.getElementById( 'cateName' ).innerHTML = "식단게시판";
              break;
            case '3' :
              document.getElementById( 'cateName' ).innerHTML = "챌린지게시판";
              break;
            case '4' :
              document.getElementById( 'cateName' ).innerHTML = "질문게시판";
              break;
            case '5' :
              document.getElementById( 'cateName' ).innerHTML = "핫딜게시판";
        }
      });
      
      window.addEventListener('DOMContentLoaded', function(){
        var param = 1; 
        if (window.location.search.match(/page=([^&]*)/) != null) {
          param = window.location.search.match(/page=([^&]*)/)[1];
        } 
        $('#pageButton' + param).addClass('active');
      });
    </script>
  </body>        
</html>