<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>여기모여</title>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- fevicon -->
    <link rel="icon" href="../images/comehere_con.ico" type="image/gif" />
    <!-- 공식부트스트랩 CSS -->
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
    <!-- main css -->
    <link href="../css/board/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- header section 시작 -->
    <div class="header_section windowWidth" >
      <div class="container-fluid windowWidth">
        <nav class="navbar navbar-expand-lg navbar-light windowWidth">
          <div class="main_logo"><a href="/app"><img src="../images/logo.png"></a></div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="../party/list">운동찾기</a></li>
              <li class="nav-item"><a class="nav-link" href="main">커뮤니티</a></li>
              <li class="nav-item"><a class="nav-link" href="../notice/list">공지사항</a></li>
            </ul>
            <div class="login-bt">
              <ul>
                <li data-th-if="${session.loginMember == null}"><a href="../auth/form" >로그인</a></li>
                <li data-th-if="${session.loginMember != null}"><a href="../mypage/my-post">마이페이지</a></li>
                <li data-th-if="${session.loginMember != null}"><a href="../auth/logout" data-th-text="${session.loginMember.name} + '(로그아웃)'">동동(로그아웃)</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- header section 끝 -->
    <!-- 메인 상단 시작 -->
    <div class="main-top-wrapper">
      <div class="nav-line">
       <ul class="nav nav-pills nav-justified windowWidth">
         <li class="nav-item"><a class="nav-link" href="list?no=1">자유게시판</a></li>
         <li class="nav-item"><a class="nav-link" href="list?no=2">식단게시판</a></li>
         <li class="nav-item"><a class="nav-link" href="list?no=3">챌린지게시판</a></li>
         <li class="nav-item"><a class="nav-link" href="list?no=4">질문게시판</a></li>
         <li class="nav-item"><a class="nav-link" href="list?no=5">핫딜게시판</a></li>
       </ul>
      </div>
      <a href="main">
        <div class="category-name-wrapper">
          <div class="our_textJD  windowWidth">커뮤니티</div>
        </div>
      </a>
    </div>
    <!-- 메인 상단 끝 -->
    <!-- 메인 하단 시작 -->
    <div class="furnitures_sectionJD windowWidth">
      <div class="container windowWidth">
        <div class="furnitures_section2 layout_padding-jedong windowWidth">
          <div class="write-wrapper">
            <!-- 인기글 파트 시작 -->
            <div class="mainList-title">커뮤니티 인기글</div>
            <div class="row1">
              <table class="table-jedong">
                <tr id="table-setting" th:each="board : ${bestList}">
                  <td><a data-th-classappend="'boardCateNo' + ${board.cateno}" class="nav-link cate-button" th:href="@{list(no=${board.cateno})}"></a></td>
                  <td class="title-min-width2 title_line"><a href='detail?no=1'
                      th:href="@{detail(no=${board.no})}"
                      th:text="${board.title == ''} ? '(제목없음)' : ${board.title}">제목없음</a></td>
                  <td th:text="${board.writer.nickname}">유길동</td>
                  <td><img style="object-fit: cover; width: 15px; height: 15px;" src="../images/view-icon2.png"></td>
                  <td th:text="${board.viewCount}">17</td>
                </tr>
              </table> 
            </div>
            <!-- 인기글 파트 끝 -->
            <!-- 최근 챌린지 파트 시작 -->
            <div class="mainList-title">최근 챌린지 인증<a href="list?no=3" class="clg-plus">더보기+</a></div>
            <div class="row2">
              <th:block th:each="board : ${clgList}">
                <span class="clg" style="position:relative;">
                  <div class="clg-in">
                    <a th:href="@{detail(no=${board.no})}">
                      <img class="clg-in-img" th:if="${board.thumbnail == null}" src="../images/nothumbnail.png"/>
                      <img class="clg-in-img" th:if="${board.thumbnail != null}" th:src="@{'/board/files/' + ${board.thumbnail}}"/>
                    </a>
                    <div class="clg-in-title">
                      <div class="clg-in-tt">
                        <a href='detail?no=1' th:href="@{detail(no=${board.no})}" th:text="${board.title == ''} ? '(제목없음)' : ${board.title}">제목없음</a><br>
                      </div>
                      <div class="clg-in-wt">
                        <span th:text="${board.writer.nickname}" style="float: right;">유길동</span>
                      </div>
                    </div>
                  </div>
                </span>
              </th:block>
            </div>
            <!-- 최근 챌린지 파트 시작 -->
          </div>
        </div>
      </div>
    </div>
    <!-- 메인 하단 끝 -->
    <!-- Javascript files-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.0.0.min.js"></script>
    <script src="../js/plugin.js"></script>
    <!-- sidebar -->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/custom.js"></script>
    <!-- 공식부트스트랩 JS -->
    <script src="../js/bootstrap/bootstrap.js"></script>   
    <!-- main js -->
    <script src="../js/board/main.js"></script>
  </body>
         
</html>